<div ng-controller = "AngularController" id='control' class='container-fluid'>
  <!-- <h1>HOW MUCH TIME BEFORE TOKENS WILL BE SOLD:</h1> -->
  <br>
  <div id="count_container" class='container'>
    <div class="countdown_clock"></div>
  </div>
  <br>
  <div id='new_container' class='container' style='display:none;'>
    <div class="agreements">
      <h2>SEWNIQ User Token Terms and Agreements</h2>
        <ol class='terms'>
          <li class='term_val'>Your ETH funds must be sent from your personal Ethereum wallet such as MyEtherWallet, Parity, Metamask, Mist, Ledger or Jaxx</li>
          <li class='term_val'>Please <b>DO NOT</b> send ETH funds from exchange wallets like Poloniex, Coinbase, Bitfinex, etc</li>
          <li class='term_val'>Set Gas Limit to 250 000 (during high-load network)</li>
          <li class='term_val'>Set the gas price at 60 GWEI (during high-load network)</li>
          <li class='term_val'>SNG tokens will be sent immediately to the wallet from which the ETH arrived</li>
        </ol>
        <div id='terms_check' class="checkbox">
          <label><input type="checkbox" value="">I agree to the <a href="#" class='terms_condition' data-toggle="modal" data-target="#myTerms">Terms and Conditions</a>.</label>
        </div>
        <br>
      <div id='captcha'>
        <form class="captcha_form" name='captcha_form' ng-submit="captcha_callback()" method="post">
          <div class="g-recaptcha" data-sitekey="6Le5BioUAAAAAKIKpUaEcoVKGJ0aXxQohLns_rUD"></div>
          <div class="g-recaptcha" data-callback="captcha_callback" data-sitekey="6Le5BioUAAAAAKIKpUaEcoVKGJ0aXxQohLns_rUD"></div>
          <br/>
          <input class='captcha_button' type="submit" value="Submit" disabled>
        </form>
      </div>
      <button class='token_button' type="button" name="button" style='display:none;'>Buy Tokens</button>
    </div>
    <div id="myTerms" class="container modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <p>TERMS AND CONDITIONS ADDED HERE</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

        </div>
      </div>
    </div>

</div>
