<div ng-controller = "AngularController" id='control' class='container-fluid' ng-init="myFunction()">
  <br>
  <div id="count_title">
    <h2>PRE-SALE on SNQ in: </h2>
  </div>
  <div id="count_title_1">
    <h2>SNQ token SALE:</h2>
  </div>
  <div id="count_container" class='container'>
    <div class="countdown_clock"></div>
  </div>
  <br>
  <div id='new_container' class='container' style='display:none;'>
    <div class="agreements">
      <h2>How to buy SNQ Token</h3>
        <ol class='terms'>
          <li class='term_val'>Your ETH funds must be sent from your personal Ethereum wallet such as MyEtherWallet, Parity, Metamask, Mist, Ledger or Jaxx</li>
          <li class='term_val'>Please <b>DO NOT</b> send ETH funds from exchange wallets like Poloniex, Coinbase, Bitfinex, etc</li>
          <li class='term_val'>Set Gas Limit to 250 000 (during high-load network)</li>
          <li class='term_val'>Set the gas price at 60 GWEI (during high-load network)</li>
          <li class='term_val'>SNQ tokens will be sent immediately to the wallet from which the ETH arrived</li>
        </ol>
      <!-- <div id='captcha'>
        <form class="captcha_form" name="captcha_form" method="POST">
          <div id='terms_check' class="checkbox">
            <label><input type="checkbox" name='confirm' value='True' ng-model='confirm'>I agree to the <a  class='terms_condition' data-toggle="modal" data-target="#myTerms">Terms and Conditions</a>.</label>
          </div>
          <br>
          <div class="g-recaptcha" data-sitekey={{key}}></div>
          <br/>
          <button class='captcha_button' ng-click='verify()'>Submit</button>
        </form>
      </div> -->
      <div id='terms_check_div'>
            <div id='terms_check' class="checkbox">
              <label><input type="checkbox" name='confirm' value='True' ng-model='confirm'>I agree to the <a  class='terms_condition' href='/files/terms_and_conditions.pdf' target='pdf-frame'>Terms and Conditions</a>.</label>
            </div>
              <button type="button" ng-click='verify()'>Get Our Adress</button>
      </div>
      <br>
      <h2 id='token_address' style='display:none;'>Address: </h2>
      <p id='error_msg' style='display:none;'> You must agree to the terms and conditions first</p>
    </div>
    <!-- <div id="myTerms" class="container modal fade" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <p>TERMS AND CONDITIONS ADDED HERE</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div> -->
      </div>
    </div>

</div>
