.flip-clock-wrapper ul li a div div.inn, .flip-clock-small-wrapper ul li a div div.inn {
  color: #CCCCCC;
  background-color: #333333;
}
.flip-clock-dot, .flip-clock-small-wrapper .flip-clock-dot {
  background: #323434;
}
.flip-clock-wrapper .flip-clock-meridium a, .flip-clock-small-wrapper .flip-clock-meridium a {
  color: #323434;
}

#count_title_1{
  display: none;
}

#control {
  text-align: center;
}

#count_container {
  text-align: center;
  margin-top: 10%;
}

.countdown_clock {
  display: inline-block;
  width: auto;
}

@font-face {
  font-family: "ab-chanel-couture";
  src: url('../styles/font/ab-chanel-couture-regular.eot');
  src: url('../styles/font/ab-chanel-couture-regular.eot?#iefix') format('embedded-opentype'),
    url('../styles/font/ab-chanel-couture-regular.svg#AB Chanel Couture') format('svg'),
    url('../styles/font/ab-chanel-couture-regular.woff') format('woff'),
    url('../styles/font/ab-chanel-couture-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.agreements h2 {
  color: #333333;
}

.bold{
  font-weight: bold;
}


.terms {
  color: #333333;
  font-size: 1.6vw;
   text-transform: uppercase;
  /*display: inline-block;*/
  text-align: center;
  padding-left: 0 !important;
  font-family: 'Crimson Text', serif;
}

.margin-left{
  padding-left: 9%;
}

.term_val {
  font-family: 'Crimson Text', serif;
	list-style-type: none;
  font-size: 4vw;
}

@media (max-width: 700px) and (orientation: landscape){
  .term_val {
    font-size: 2.6vw;
  }
}

@media (min-width: 768px){
  .term_val {
    font-size: initial;
  }
}

#terms_check {
  color: #333333;
  font-size: 1.15vw;
}

#captcha {
  display: inline-block;
  margin-left: auto;
}

#error_msg{
  color: red;
  font-size: 1.4vw;
}

.terms_condition:link{
  color: black;
}

.terms_condition:hover{
  color: grey !important;
}
