body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: white;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h3{
  /*margin: 0 0 35px;*/
  /*margin-bottom: 100px;*/
  text-transform: uppercase;
  /*font-family: "didot", sans-serif;*/
  font-weight: 300;
  /*letter-spacing: 20px;*/
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}
.light {
  font-weight: 400;
}


.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  opacity: 0.9;
}
.navbar-custom .navbar-toggle {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #333333;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: black;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: black;
}

.navbar-custom {
  /*background-color: blue;*/
}

.navbar-brand{
  overflow:auto;
  padding: 0px;
  width: 13.5vw;
  height: 4vw;
  /*background: url(/images/logo_1.png) no-repeat bo center;*/
}

.navbar-brand>img {
  height: 100%;
  /*padding: 10px;*/
  /*width: auto;*/
}


@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10) {
  .container-custom{
    width: 90%;
  }
}



.intro {
  display: table;
  width: 100%;
  height: auto;
  /*padding: 100px 0;*/
  text-align: center;
  color: #333333;
  background: url(/images/intro-bg-2.jpg) no-repeat bottom center scroll;
  /*opacity: 0.5;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /*display: block;*/
}
.intro .intro-body  {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-family: "didot", sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
}

.intro .intro-body{
  font-size: 40px;
}

.intro-text{
  font-size: 25px;
}

.intro{
  height: 475px;
}

.intro-text{
  font-family: 'Caveat';
}

.intro-body{
  background-color: lightgrey;
  background: rgba(255, 255, 255, 0.4);
}

.intro-footer{
  display: table-footer-group;
  background-color: lightgrey;
  background: rgba(255, 255, 255, 0.4);
}

.glyphicon-menu-down{
  font-size: 6.5vw;
  font-weight: 100;
  -webkit-text-stroke: 0.6vw #FBFAFB;
  transform: scale(1.5,1);

}
.glyphicon-menu-down:hover{
  cursor: pointer;

}
.animated_infinite {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-amation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}



@media (min-width: 768px) {
  .intro {
    height: 100%;
    background-attachment: fixed;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 70px;
    /*margin-bottom: 100px;*/
    /*margin-right: 70px;*/
    margin-right: 100px;
    letter-spacing: 60px;

  }
   .intro-text {
    font-size: 40px;
    margin-right: 70px;
  }
}

@media (min-width:1600px){
  .intro .intro-body .brand-heading {
    background-attachment: fixed;
    font-size: 110px;
    margin-right: 150px;
  }
  .intro-text {
   font-size: 60px;
   margin-right: 0px;
 }

}





@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.about-section {
  height: 475px;
  padding-top: 5vw;
  padding-bottom: 5vw;
}


.video-container {
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 35%;

}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
  .about-section {
    height: 100%;
  }
}

@media (min-width: 1600px) {
  .about-section {
    width: 80%;
  }
}

.graphics-section{
  width: 100%;
  height: 700px;
}


.team-section{
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.member-section-wrapper{
  /*background-color: green;*/
  padding-top: 15px;
}

.member-section{
  background-color: #FBFAFB;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin-bottom: 5%;
}

.member-img{
  width: 130px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .team-section{
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (min-width: 1600px) {
  .team-section{
    padding-left: 12%;
    padding-right: 12%;
  }
}

#scrollupBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 760px) {
  #scrollupBtn {
    right: 10px;
  }
}

#scrollupBtn:hover {
  background-color: black;
}




/*ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
*/
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}*/



body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

footer{
  background-color: #333333;
  color: white;
}
