.flip-clock-wrapper ul li a div div.inn, .flip-clock-small-wrapper ul li a div div.inn {
  color: #CCCCCC;
  background-color: #333333;
}
.flip-clock-dot, .flip-clock-small-wrapper .flip-clock-dot {
  background: #323434;
}
.flip-clock-wrapper .flip-clock-meridium a, .flip-clock-small-wrapper .flip-clock-meridium a {
  color: #323434;
}

#control {
  text-align: center;
}

#count_container {
  text-align: center;
}

.countdown_clock {
  display: inline-block;
  width: auto;
}

@font-face {
  font-family: "ab-chanel-couture";
  src: url('../styles/font/ab-chanel-couture-regular.eot');
  src: url('../styles/font/ab-chanel-couture-regular.eot?#iefix') format('embedded-opentype'),
    url('../styles/font/ab-chanel-couture-regular.svg#AB Chanel Couture') format('svg'),
    url('../styles/font/ab-chanel-couture-regular.woff') format('woff'),
    url('../styles/font/ab-chanel-couture-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.agreements h2 {
  color: #333333;
  font-family: "ab-chanel-couture";
}
.terms {
  color: #333333;
  font-size: 1.6vw;
  text-align: justify;
  font-family: "ab-chanel-couture";
}

.term_val {
  font-family: "ab-chanel-couture";
	direction: ltr;
}

#terms_check {
  color: #333333;
  font-size: 1vw;
}

#captcha {
  display: inline-block;
  margin-left: auto;
}

.terms_condition:link{
  color: black;
}

.terms_condition:hover{
  color: grey !important;
}

#myModal{
  background-color: black;
  opacity: 0.85;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-content{
  /*background-color: black;*/
}

#menu_button{
  padding: 0;
  border: none;
  background: none;
  padding-top: 3%;
}

.gi-1-5x{font-size: 1.3em;}
.gi-2x{font-size: 1.7em;}

#menu_list{
  color:white;
  font-size: 2em;
  list-style-type: none;
  padding-top: 20vw;
}

#menu_list li{
  padding-bottom: 2.5vw;;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 #menu_list {
    padding-top: 50vw;;
 }
